*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none !important;
}


.custom_vh{
    min-height: 65vh;
}